@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src: local("Roboto"),
    url("../../public/assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("../../public/assets/fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("../../public/assets/fonts/Roboto/Roboto-Regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: 600;
  src: local("Roboto"),
    url("../../public/assets/fonts/Roboto/Roboto-Medium.woff2") format("woff2"),
    url("../../public/assets/fonts/Roboto/Roboto-Medium.woff") format("woff"),
    url("../../public/assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"),
    url("../../public/assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
    url("../../public/assets/fonts/Roboto/Roboto-Bold.woff") format("woff"),
    url("../../public/assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Satisfy;
  font-style: normal;
  font-weight: normal;
  src: local("Satisfy"),
    url("../../public/assets/fonts/Satisfy/Satisfy-Regular.ttf")
      format("truetype");
}
