@import "./mediaQueries";

// colors

// $primary-color: $white;
// $primary-color-dark: #90500d;
// $secondary-color: #053e69;
// $secondary-color-dark: #002038;
// $tertiary-color: rgb(255 223 33);
$black-light: rgb(0 0 0 / 64%);
$black: rgb(0 0 0);
$white: rgb(255 255 255);
$gray-lighter: rgb(0 51 102 / 4%);
$gray-light: rgb(204 204 204);
$gray-dark: #666;
$grad-gray: linear-gradient(177.42deg, rgb(0 51 102 / 0%) 2.15%, #053e69 97.85%);
$grad-col1: rgba(215 223 231);
$grad-col2: rgb(234 238 242);
$grad-col3: rgb(237 240 244);
$grad-col4: rgb(231 231 231);
$grad-gray2: linear-gradient(0deg, rgb(0 51 102 / 8%), rgb(0 51 102 / 10%) 1%, $white);
$grad-gray3: linear-gradient(224.93deg, rgb(150 170 183 / 5%) -0.12%, rgb(114 136 150 / 5%) 100%);
$grad-gray-badge: linear-gradient(224.93deg, rgb(150 170 183 / 40%) -0.12%, rgb(114 136 150 / 40%) 100%);
$background-color: rgb(231 231 231);

@mixin direction($deg) {
    transform: rotate($deg);
    transform-box: fill-box;
    transform-origin: center;
}

// layout
$padding-sm: 1.25rem;
$padding-lg: 2.5rem;
$border-radius-menu: 4px 0 0 4px;
$border-radius: 4px;

@mixin json-newline {
    white-space: pre-line;
    vertical-align: bottom;
}

@mixin text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// flex
@mixin col {
    display: flex;
    flex-direction: column;
}

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
