@import "./variables";

html {
    scroll-behavior: smooth;
}

a {
    color: $white;
    text-decoration: none;

    &:hover {
        color: $gray-dark;
    }

    &:visited {
        color: $gray-light;
    }
}
