@import "./typography";

html {
    scroll-behavior: smooth;
}

a {
    color: #fff;
    text-decoration: none;

    &:hover {
        color: white;
    }

    &:visited {
        color: #fff;
    }
}
