@import "./variables";

$image: "/assets/images/IMG_5726.jpg";
$image-desktop: "/assets/images/IMG_5641.jpg";

.aboutus-container {
    min-height: 464px;
    height: 100%;
    position: relative;
    box-shadow: 4px 4px 100px 15px rgb(205 127 50 / 20%);

    @include notebook {
        min-height: 857px;
    }

    &::before {
        content: "";
        background: center / 100% no-repeat no-repeat url($image);
        background-size: cover;
        opacity: 0.4;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        @include notebook {
            background: center / 100% no-repeat no-repeat url($image-desktop);
            background-size: cover;
            opacity: 0.3;
        }
    }

    .aboutus-text {
        position: relative;

        &::before {
            content: "";
            background: linear-gradient(180deg, rgb(5 62 105 / 70%) 0%, rgb(5 62 105 / 93%) 99.71%);
            opacity: 0.4;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    .aboutus-image {
        border: 12px solid #053e69;
        box-shadow: 4px 4px 100px 15px rgb(205 127 50 / 20%);
    }
}

.jennies-heading {
    @include json-newline;

    transform: rotate(-12.16deg) skew(-0.02turn, 1deg);
    text-shadow: -1px 1px 0 white;
    filter: drop-shadow(1px 1px 1.75rem black);
}

.pricelist-container {
    background: #053e69;

    @include notebook {
        background: linear-gradient(180deg, rgb(5 62 105 / 24%) 0%, rgb(5 62 105 / 43%) 99.71%);
    }
}

.gallery-container {
    background: rgb(205 127 50 / 20%);

    .image-frame {
        position: relative;
        width: 100%;
        height: 300px;
        border: 9px solid #cd7f32;
        object-fit: cover;
    }
}
